@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Haga su reservación</h1>
    <div>
        <select id="peopleSlt" class="selectpicker show-menu-arrow" data-live-search="false">
            <option value="1">1 Persona</option>
            <option value="2">2 Personas</option>
            <option value="3">3 Personas</option>
            <option value="4">4 Personas</option>
        </select>
        <select id="timeSlt" class="selectpicker" data-width="250px" data-live-search="false">
            <option value="1">6:00 PM</option>
            <option value="2">7:00 PM</option>
            <option value="3">8:00 PM</option>
            <option value="4">9:00 PM</option>
            <option value="5">10:00 PM</option>
            <option value="6">11:00 PM</option>
        </select>
        <button type="button" class="btn btn-primary btn-md" id="bookBtn">Reservar</button>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>